@charset 'utf-8';

body {
    font-family: 'NanumSquare';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

.floating_menu {
    position: fixed;
    right: 100px;
    top: 80vh;
    z-index: 100;
}

.floating_menu img {
    position: fixed;
    z-index: -1;
}

.ham_btn {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
}

header .inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header h1 {
    padding: 1rem;
}

header nav {
    width: 50%;
    position: relative;
}

header nav::before {
    content: '';
    position: absolute;
    top: 100%;
    left: -85%;
    width: 320%;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    opacity: 0;
    overflow: hidden;
    transition: 0.7s;
    z-index: -1;
}

header nav:hover::before {
    opacity: 1;
    height: 350px;
}

header nav::after {
    content: '';
    position: absolute;
    top: calc(100% + 350px);
    left: -85%;
    width: 320%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: -1;
}

header nav:hover::after {
    height: 510px;
    opacity: 1;
}

header nav:hover .sub {
    opacity: 1;
    height: 500px;
}

header .gnb {
    display: flex;
    justify-content: space-between;
}

header .gnb>li>a {
    font-size: 18px;
    font-family: 'NanumSquareAcb';
}

header .gnb_menu {
    width: 35%;
}

header .gnb_menu ul {
    display: flex;
    justify-content: space-between;
}

header .gnb_menu ul li {
    width: 100%;
}

header .gnb,
header .gnb_menu {
    padding: 1.5rem 0;
}

header .gnb_menu .search i {
    font-size: 30px;
    position: relative;
}

header .gnb_menu li a {
    font-size: 12px;
}

header .gnb_menu .search i::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.4rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

header .gnb_menu .ham {
    display: none;
}

header .gnb>li {
    position: relative;
}

/* header .gnb>li>a {
    padding: 1rem 2rem;
} */
header .sub {
    position: absolute;
    width: 200%;
    top: calc(100% + 32px);
    left: 0;
    padding-top: 2rem;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
}

header .sub li a {
    display: block;
    padding-top: 1.2rem;
}

header .sub li:hover a {
    color: #ce462e;
}

.sec1 {
    padding-top: 78px;
    position: relative;
}

.sec1 .mySwiper img {
    width: 100%;
}

.sec1 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 4rem;
    line-height: 1.6;
    font-family: 'NanumSquareExtraBold';
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
}

.swiper-button-prev {
    left: 10%;
}

.swiper-button-next {
    right: 10%;
}

.swiper-pagination-bullet {
    border: 8px solid white;
}

.sec2 {
    padding-top: 50px;
}

.sec2 .inner {
    max-width: 1200px;
    margin: auto;
}

.text_area h3,
.text_area p {
    text-align: center;
}

.text_area h3 {
    font-size: 30px;
    font-family: 'NanumSquareBold';
}

.text_area p {
    padding-top: 1rem;
    color: #807272;
}

.sec2 .product_area {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sec2 .product_area li {
    width: 23%;
}

.sec2 .product_area li:hover .hover_area {
    left: 50%;
    transform: translateX(-50%);
}

.sec2 .product_area img {
    width: 100%;
}

.sec2 .product_area li p,
.sec2 .product_area li b {
    text-align: center;
    padding-top: 1rem;
    font-size: 22px;
}

.sec2 .product_area li b {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.sec2 .product_area .hover_change {
    position: relative;
    height: 190px;
    transition: 0.6s;
    overflow: hidden;
}

.sec2 .product_area li .hover_change::before {
    content: '';
    position: absolute;
    background: url(./img/icon_product1.png) no-repeat;
    top: 40%;
    left: 40%;
    width: 30%;
    height: 40%;
    transition: 0.6s;
}

.sec2 .product_area li:nth-of-type(2) .hover_change::before {
    background: url(./img/icon_product2.png) no-repeat
}

.sec2 .product_area li:nth-of-type(3) .hover_change::before {
    background: url(./img/icon_product3.png) no-repeat
}

.sec2 .product_area li:nth-of-type(4) .hover_change::before {
    background: url(./img/icon_product4.png) no-repeat
}

.sec2 .product_area .hover_change::after {
    content: '';
    position: absolute;
    width: 30px;
    bottom: 20px;
    left: 52%;
    transform: translateX(-50%);
    border-bottom: 1px solid black;
    transition: 0.6s;
}

.sec2 .product_area li:hover .hover_change::before,
.sec2 .product_area li:hover .hover_change::after {
    left: -50%;
}

.sec2 .product_area .hover_area {
    position: absolute;
    top: 30%;
    left: 100%;
    width: 100%;
    transition: 0.6s;
}

.sec2 .product_area .hover_area::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -28px;
    border-bottom: 3px solid red;
}

.sec2 .product_area .hover_area p {
    font-size: 1rem;
    line-height: 1.3;
}

.sec2 .product_area .hover_area a {
    display: block;
    width: 100%;
    padding: 1rem 0;
}

.sec2 .product_area .hover_area a span {
    display: block;
    text-align: center;
    position: relative;
}

.sec2 .product_area .hover_area a span::after {
    content: '>';
    position: absolute;
    padding-left: 20px;
}

.sec3 {
    padding-top: 50px;
}

.sec3 .inner {
    max-width: 1200px;
    margin: auto;
}

.sec3 .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.sec3 .wrapper li {
    position: relative;
    /* width: 100%; */
}

.sec3 .wrapper li img {
    width: 100%;
}

.sec3 .wrapper li .box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    transition: 0.6s;
}

.sec3 .wrapper li .box div {
    position: absolute;
    width: 100%;
    top: 80%;
    transform: translateY(-80%);
    transition: 0.6s;
}

.sec3 .wrapper li:hover .box {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.sec3 .wrapper li:hover .box div {
    top: 50%;
    transform: translateY(-50%);
}

.sec3 .wrapper li .box b {
    font-size: 30px;
    font-family: 'NanumSquareExtraBold';
}

.sec3 .wrapper li .box p {
    padding-top: 1.2rem;
    line-height: 1.3;
}

.sec3 .wrapper li .box a {
    color: white;
    display: inline-block;
    padding: 0.7rem 1.2rem;
    margin-top: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.3s;
}

.sec3 .wrapper li .box a:hover {
    background-color: white;
    color: black;
}

.sec4 {
    padding: 50px 0;
}

.sec4 .inner {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.sec4 .text_area p {
    margin-bottom: 2rem;
}

.sec4 .inner>a {
    position: absolute;
    right: 0;
}

.sec4 .recipe {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.sec4 .recipe li {
    position: relative;
}

.sec4 .recipe li img {
    border-radius: 10px;
}

.sec4 .recipe small {
    display: block;
    text-align: center;
    width: 100px;
    margin: 20px auto 20px;
    border-radius: 28px;
    padding: 0.2rem 1rem;
}

.sec4 .recipe li:nth-of-type(1) small {
    color: #d0a82c;
    border: 1px solid #ebca76;
}

.sec4 .recipe li:nth-of-type(2) small {
    color: #261000;
    border: 1px solid #3b2515;
}

.sec4 .recipe li:nth-of-type(3) small {
    color: #879e36;
    border: 1px solid #879e36;
}

.sec4 .recipe p {
    text-align: center;
    font-size: 28px;
}

.sec4 .recipe li:nth-of-type(2) p {
    padding-bottom: 2rem;
}

.sec4 .recipe .hover_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
}

.sec4 .recipe li:hover .hover_box {
    opacity: 1;
    height: 72%;
}

.sec4 .recipe li:nth-of-type(2) .hover_box {
    top: 27%;
}

.sec4 .recipe .hover_box .read_more {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 40%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    transform: translateY(-50%);
    font-family: 'NanumSquareAceb';
    background-color: transparent;
}

.sec4 .recipe .hover_box a {
    position: absolute;
    width: calc(100% / 2);
    padding: 1rem;
    bottom: 0;
    background-color: rgba(255, 226, 207, 0.5);
    color: white;
    font-size: 18px;
    text-align: center;
}

.sec4 .recipe .hover_box a:nth-of-type(2) {
    right: 0;
    border-left: 1px solid white;
}

.sec5 .inner {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.sec5 .inner>a {
    position: absolute;
    right: 0;
}

.sec5 .inner .magazine_box {
    padding: 3rem 0 4rem 0;
}

.sec5 .inner .magazine_box ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec5 .inner .magazine_box ul li {
    width: 24%;
    position: relative;
}

.sec5 .inner .magazine_box ul li a>img {
    width: 100%;
}

.sec5 .inner .magazine_box ul li a .sns_list {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.sec5 .inner .magazine_box ul li a .text_area_box {
    padding: 17px 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.sec5 .inner .magazine_box ul li:hover .text_area_box {
    background-color: #e4e4e4;
}

.sec5 .inner .magazine_box ul li a .text_area_box span {
    display: block;
    color: #807e7e;
    font-size: 14px;
}

.sec5 .inner .magazine_box ul li a .text_area_box p {
    color: #231f20;
    font-size: 21px;
    padding: 10px 0;
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}

.sec6 {
    border-top: 1px solid #e4e4e4;
    padding-bottom: 3rem;
}

.sec6 .inner {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
}

.sec6 .inner .notice {
    width: 35%;
}

.sec6 .inner .notice .notice_top {
    display: flex;
    justify-content: space-between;
}

.sec6 .inner .notice .notice_top h3 {
    font-size: 22px;
    color: #555;
}

.sec6 .inner .notice .notice_top a {
    color: #555;
}

.sec6 .inner .notice .notice_list {
    padding-top: 1.5rem;
}

.sec6 .inner .notice .notice_list li {
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}

.sec6 .inner .notice .notice_list li a {
    color: #807e7e;
}

.sec6 .inner .notice .notice_list li a:hover {
    color: #ce462e;
}

.sec6 .inner .notice .notice_list li span {
    font-size: 14px;
    color: #807e7e;
}

.sec6 .inner .menu_list {
    display: flex;
    width: 60%;
    padding-left: 4rem;
}

.sec6 .inner .menu_list li:nth-of-type(2),
.sec6 .inner .menu_list li:nth-of-type(3),
.sec6 .inner .menu_list li:nth-of-type(4) {
    margin-left: 70px;
}

.sec6 .inner .menu_list li a {
    font-size: 21px;
    color: #555;
    display: block;
    text-align: center;
}

.sec6 .inner .menu_list li img {
    display: block;
    padding: 2rem 2rem 1.5rem 2rem;
}
footer {
    background-color: #e7e7e9;
}
footer .inner {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 0;
    position: relative;
}
footer .inner .wrapper {
    display: flex;
}
footer .inner .menu {
    display: flex;
    padding: 0 1rem;
}
footer .inner .menu li {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: relative;
}
footer .inner .menu li:nth-of-type(2)::before,
footer .inner .menu li:nth-of-type(3)::before,
footer .inner .menu li:nth-of-type(4)::before {
    content: '|';
    position: absolute;
    left: 0;
    color: #888687;
}
footer .inner .menu li a {
    font-size: 14px;
    color: #807e7e;
}
footer .inner .adress {
    display: flex;
    padding-left: 6.5rem;
}
footer .inner .adress li {
    padding-left: 1rem;
}
footer .inner .adress li span {
    font-size: 12px;
    color: #807e7e;
}
footer .inner .copyright p {
    color: #807e7e;
    font-size: 12px;
    padding-left: 7.5rem;
    line-height: 1.8;
}
footer .inner .serveqfamily,
footer .inner .sns,
footer .inner .familysite {
    position: absolute;
}
footer .inner .serveqfamily {
    bottom: 30px;
    right: 10%;
}
footer .inner .familysite {
    bottom: 40px;
    right: 0;
    cursor: pointer;
}
footer .inner .familysite p {
    font-family: 'NanumSquareAceb';
    width: 144px;
    height: 36px;
    border: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background: #fff url(./img/icon_footer_family_arrow.png) no-repeat 116px center;
    position: relative;
}
footer .inner .familysite ul {
    /* display: none; */
    position: absolute;
    width: 100%;
    bottom: 100%;
    background-color: white;
    display: none;
    border: 1px solid #bfbfbf;
}footer .inner .familysite ul.on {
    display: block;
}
footer .inner .familysite ul li{
    padding: 0.5rem;
    font-size: 14px;
}
footer .inner .familysite ul li:hover{
    background-color: #f6f6f6;
}
footer .inner .sns {
    top: 20%;
    right: 0;
}
/* 화면크기 1200이하일 때 조정 */
@media(max-width:1200px) {
    .sec2 .product_area {
        padding: 2rem 1rem;
    }

    .sec4 .recipe {
        padding: 2rem;
    }
}

/* 모바일 버전 */
@media(max-width:800px) {

    header .gnb,
    header .gnb_menu li {
        display: none;
    }

    header nav {
        display: none;
    }

    header .gnb_menu .search {
        display: block;
        margin-left: 1rem;
    }

    header .gnb_menu .search i::after {
        border: none;
    }

    header .gnb_menu {
        position: absolute;
        right: 1rem;
    }

    header .gnb_menu .ham {
        display: block;
        width: 30px;
        position: relative;
    }

    header .gnb_menu .ham.on {
        display: none;
    }

    header .gnb_menu .ham span {
        position: absolute;
        top: -30px;
        right: -80px;
        width: 100%;
        border-radius: 5px;
        border: 2px solid black;
        cursor: pointer;
    }

    header .gnb_menu .ham span:nth-of-type(2) {
        top: -15px;
        width: 20px;
    }

    header .gnb_menu .ham span:nth-of-type(3) {
        top: 0;
    }

    .ham_btn {
        display: block;
        position: fixed;
        width: 100%;
        left: 100%;
        transition: 0.5s;
        z-index: 100;
    }

    .ham_btn.changed::before {
        opacity: 1;
    }

    .ham_btn.on {
        left: 10%;
    }

    .ham_btn>span {
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1rem;
        display: none;
        color: white;
    }

    .ham_btn>span.on {
        display: block;
    }

    .ham_btn .login_area {
        padding: 1rem;
        background-color: #ce462d;
        color: white;
    }

    .ham_btn .login {
        padding: 3px 1.2rem;
        border: 1px solid white;
        color: white;
        font-size: 12px;
        background-color: transparent;
    }

    .ham_btn .login_area span {
        font-size: 13px;
        padding-left: 1rem;
    }

    .ham_btn .depth1 {
        background-color: white;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100vh;
    }

    .ham_btn .depth1>li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .ham_btn .depth1>li a {
        position: relative;
        display: block;
        padding: 1rem;
    }

    .ham_btn .depth1>li:nth-of-type(1)>a::before,
    .ham_btn .depth1>li:nth-of-type(1)>a::after,
    .ham_btn .depth1>li:nth-of-type(3)>a::before,
    .ham_btn .depth1>li:nth-of-type(3)>a::after,
    .ham_btn .depth1>li:nth-of-type(4)>a::before,
    .ham_btn .depth1>li:nth-of-type(4)>a::after,
    .ham_btn .depth1>li:nth-of-type(5)>a::before,
    .ham_btn .depth1>li:nth-of-type(5)>a::after,
    .ham_btn .depth1>li:nth-of-type(6)>a::before,
    .ham_btn .depth1>li:nth-of-type(6)>a::after {
        content: '';
        position: absolute;
    }

    .ham_btn .depth1>li:nth-of-type(1)>a::before,
    .ham_btn .depth1>li:nth-of-type(3)>a::before,
    .ham_btn .depth1>li:nth-of-type(4)>a::before,
    .ham_btn .depth1>li:nth-of-type(5)>a::before,
    .ham_btn .depth1>li:nth-of-type(6)>a::before {
        width: 18px;
        top: 50%;
        right: 60px;
        transform: translateY(-50%);
        border-top: 2px solid black;
    }

    .ham_btn .depth1>li:nth-of-type(1)>a::after,
    .ham_btn .depth1>li:nth-of-type(3)>a::after,
    .ham_btn .depth1>li:nth-of-type(4)>a::after,
    .ham_btn .depth1>li:nth-of-type(5)>a::after,
    .ham_btn .depth1>li:nth-of-type(6)>a::after {
        height: 18px;
        top: 50%;
        right: 68px;
        transform: translateY(-50%);
        border-left: 2px solid black;
    }

    .ham_btn .depth2 {
        overflow: hidden;
        background-color: #f6f6f6;
    }

    .ham_btn .depth2 li {
        width: 100%;
        transition-duration: 0.5s;
        height: 0;
        position: relative;
    }

    .ham_btn .depth1>li:nth-of-type(1) .depth2>li:nth-of-type(2)::after,
    .ham_btn .depth1>li:nth-of-type(4) .depth2>li:nth-of-type(2)::after,
    .ham_btn .depth1>li:nth-of-type(4) .depth2>li:nth-of-type(5)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url(./img/angle-right-solid.svg) no-repeat;
    }

    .ham_btn .depth2 li.on {
        border-top: 1px solid #e5e5e5;
        height: 48px;
    }

    .ham_btn .background {
        position: absolute;
        width: 10%;
        height: 100vh;
        top: 0;
        left: -10%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .ham_btn .background.on {
        display: block;
    }

    .close {
        cursor: pointer;
    }

    header {
        z-index: 1;
    }

    #sec1 h2 {
        font-size: 1.5rem;
    }

    .sec1 .mySwiper img {
        width: 300%;
        overflow: hidden;
    }

    .sec2 .inner .product_area {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .sec2 .inner .product_area li {
        width: 100%;
    }

    .sec3 .wrapper {
        flex-direction: column;
    }

    .sec3 .box p {
        display: none;
    }

    .sec3 .inner .wrapper img {
        width: 100%;
        height: 30vh;
    }

    .sec3 .box div {
        width: 100%;
        height: 100%;
    }

    .sec3 .inner .wrapper .box div b {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sec3 .inner .wrapper .box div a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        color: transparent;
    }

    .sec3 .wrapper li:hover .box {
        background-color: transparent;
    }

    .floating_menu {
        right: 5rem;
        top: 90vh;
    }

    .sec3 .wrapper li .box a:hover {
        background-color: transparent;
        color: transparent;
    }

    .sec4 .inner>a {
        display: none;
    }

    .sec4 .recipe {
        flex-direction: column;
    }

    .sec4 .recipe .recipe_menu {
        display: flex;
        flex-direction: column;
    }

    .sec4 .recipe .recipe_menu img {
        display: flex;
        margin: 10px auto;
    }

    .sec4 .recipe li:nth-of-type(odd) .recipe_menu img {
        order: 1;
    }

    .sec4 .recipe li:nth-of-type(odd) .recipe_menu p {
        padding-bottom: 28px;
    }

    .sec4 .recipe li:nth-of-type(odd) .hover_box {
        top: 27%;
    }

    .sec5 .inner .magazine_box ul li {
        width: 50%;
    }
    .sec6 .inner {
        flex-direction: column;
    }
    .sec6 .inner .notice {
        order: 2;
        width: 100%;
        display: flex;
        margin-top: 2rem;
        padding: 10px 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    .sec6 .inner .notice .notice_top {
        width: 25%;
    }
    .sec6 .inner .notice .notice_top h3 {
        font-size: 12px;
        display: flex;
        align-items: center;
        padding-left: 1rem;
    }
    .sec6 .inner .notice .notice_top a {
        display: none;
    }
    .sec6 .inner .notice .notice_list {
        padding: 0;
        width: 75%;
    }
    .sec6 .inner .notice .notice_list a {
        font-size: 12px;
    }
    .sec6 .inner .notice .notice_list a::after {
        content: '>';
        padding-left: 1rem;
        font-size: 14px;
    }
    .sec6 .inner .notice .notice_list li:nth-of-type(2),
    .sec6 .inner .notice .notice_list li:nth-of-type(3),
    .sec6 .inner .notice .notice_list li:nth-of-type(1) span {
        display: none;
    }
    .sec6 .inner .menu_list {
        order: -1;
        padding-left: 1rem;
        width: 100%;
    }

    .sec6 .inner .menu_list li:nth-of-type(2),
    .sec6 .inner .menu_list li:nth-of-type(3),
    .sec6 .inner .menu_list li:nth-of-type(4) {
        margin-left: 0;
    }
    .sec6 .inner .menu_list li a {
        font-size: 13px;
    }
    .sec6 .inner .menu_list li img {
        padding: 1rem;
    }
    footer .inner .family_wrap {
        position: absolute;
        top: -50px;
        width: 100%;
        height: 40px;
        display: flex;
        background-color: #e7e7e9;
    }
    footer .inner .wrapper {
        display: block;
    }
    footer .inner .wrapper h3 {
        text-align: center;
    }
    footer .inner .menu {
        padding-top: 1rem;
    }
    footer .inner .menu li {
        padding: 0 10px;
    }
    footer .inner .adress {
        padding-top: 1rem;
        flex-wrap: wrap;
        padding: 1rem 0 0 1rem;
    }
    footer .inner .adress li {
        width: 50%;
        padding: 0;
    }
    footer .inner .adress li:nth-of-type(3) {
        order: 1;
        width: 60%;
    }
    footer .inner .adress li:nth-of-type(2) {
        width: 40%;
    }
    footer .inner .adress li:nth-of-type(1) {
        order: 3;
        width: 100%;
        text-align: center;
        padding-top: 1rem;
    }
    footer .inner .family_wrap .sns {
        left: 10%;
        background-color: #e7e7e9;
    }
    footer .inner .family_wrap .sns img {
        width: 40%;
    }
    footer .inner .familysite {
        top: 0;
    }
    footer .inner .familysite p {
        font-size: 14px;
        background-color: #e7e7e9;
    }
    footer .inner .menu li a {
        font-size: 12px;
    }
    footer .inner .serveqfamily {
        display: none;
    }
    footer .inner .copyright {
        padding-top: 1rem;
    }
    footer .inner .copyright p {
        padding: 0 1rem;
    }
}